<h1>Help App</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Created</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @problems.order("created_at ASC").each do |problem| %>
      <tr>
        <td><%= problem.user.inspect %></td>
        <td><%= problem.title %></td>
        <td><%= problem.description.slice(0,80) %></td>
        <td><%= problem.created_at %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Post new problem', new_problem_path %>
</p>