<div class="row">

  <div class="large-6 columns">
    <h2>
      <strong>Title:</strong>
      <%= @problem.title %>
    </h2>

    <p>
      <strong>Description:</strong>
      <%= @problem.description %>
    </p>


    <p>
      <strong>Tried:</strong>
      <%= @problem.tried %>
    </p>

    <div id="notes">
      <%= render @notes %>
    </div>
  </div>

  <div class="large-6 columns">
<<<<<<< HEAD
    <%= render 'notes/form' %>
    <%= link_to 'Back', problems_path %>
=======
    <h3>Add a note to the problem:</h3>
    <%= form_for([@problem, @problem.notes.build]), remote: true do |f| %>
        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
    <% end %>
>>>>>>> 58c4b9252aa69af4c3c8195e9ea18a5e9182f0ec
  </div>

</div>

